body{
    font-family: "Montserrat";
    overflow-x: hidden;
    background-color: #6B2C91;
  }
html {
    scroll-behavior: smooth;
  }
 
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

.header {
    display: flex;
    flex-direction: row;
    margin-left: 4em;
    /* background-color: blue; */
    width: 100%;
    margin-right: 0;
}

/* :root{
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: #6B2C91;
  }
  .hamburger-menu{
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    top: 8px;
    left: 50px;
    z-index: 2;
    cursor: pointer;
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
 
  }
 .hamburger-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
 }
 */




.m6_name {
    line-height: 1.3;
    height: 100%;
    text-align: center;
    margin-top: 1.5em;
    font-family: 'Montserrat';
}
#logo {
    height: 4.5em;
    width: 4.5em;
    margin-top: 1em;
}

#m6_name:hover,
.header h2:hover {
    color: #FFAA00;
    cursor: pointer;
    transition: color 0.5s;
}
#m6_name,
.header h2 {
    font-family: "Montserrat";
    margin-top: 0.2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 2px;
}
navbar {
    display: flex;
    align-items: center;
    position: sticky !important;
    margin-top: 0;
    margin-left: 15%;
}
navbar ul {
    display: flex;
    width: 100%;
}
navbar ul li {
    list-style: none;
    font-family: "Lato";
    padding-left: 2em;
}

navbar ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 1em;
    border-radius: 3%;
    padding: 10em;
    text-transform: uppercase;
}

.navbar-menu.-material > .item:hover::after,
.navbar-menu.-material > .item.-active::after {
    transform: scaleX(1);
    cursor: pointer;
}
.navbar-menu.-material > .item::after {
    content: '';
    transform: scaleX(0);
    transform-origin: center;
}

.navbar-menu > .item {
    position: relative;
    text-align: center;
    transition-duration: 0.25s;
}
.navbar-menu > .item::after {
    background-color: #FFAA00;
    bottom: 0;
    height: 1.5px;
    left: 5em;
    position: absolute;
    transition-duration: 0.25s;
    width: calc(100% - 5em);

}
.navbar-menu > .item > .link {
    cursor: pointer;
    display: inline-block;
    padding: 1em;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    flex-direction: column;

}
#main .desc {
    font-family: "Zen Dots";
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 5em;
    color: white;
}
#main button {
    background-color: #FFAA00;
    border: 0;
    font-family: "lato";
    border-radius: 5px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0.5em 0.7em;
    cursor: pointer;
}
#main button::after {
    content: "\27A6";
    color:#000;
    padding-right:8px;
  }
  
.login button{
    background-color: #6B2C91;
    color: #FFAA00;
    border: 2px solid #FFAA00;
    font-family: "Montserrat";
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 3px;
    font-size: 1em;
    padding: 0.4em 0.6em;
    cursor: pointer;
    margin-left: 20vw;
    margin-top: 3.5vh;
}

.login button:hover{
    background-color: #FFAA00;
    color: white;
    transition-timing-function: cubic-bezier(.17,.67,.83,.67);
    transition: all 300ms;
}


.your_equation{
    font-family: "Montserrat";
    margin-top: 5em;
    margin-right: 20em;
    color: #FFAA00;
    font-size: 3em;
    letter-spacing: 1px;
     text-align: center;
}
.equation_box{
    position: relative;
    width: 1000px;
    height: 350px;
    margin: 0px;
    background-color: lightgray;
    border: 2px solid #FFAA00;
    padding: 0px;
    margin-right: 24em;
   
}
.content{
    font-family: "Montserrat";
    text-align: center;
    color: black;
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 0.6em;
    white-space: normal;


}

.result{
    font-family: "Montserrat";
    margin-top: 0.5em;
    margin-right: 22.9em;
    color: #FFAA00;
    font-size: 3em;
    letter-spacing: 2px;
     text-align: center;
}
.results_box{
    position: relative;
    width: 1000px;
    height: 350px;
    margin: 0px;
    background-color: lightgray;
    border: 2px solid #FFAA00;
    padding: 0px;
    margin-right: 24em;
   
}
.contents{
    font-family: "Montserrat";
    text-align: center;
    color: black;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 0.6em;
    /* margin-right: 10em; */

}
