<!DOCTYPE html>
<html lang="en">
<!-- Arrow by Aybige from <a href="https://thenounproject.com/browse/icons/term/arrow/" target="_blank" title="Arrow Icons">Noun Project</a> -->

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/solve.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myStyles.css') }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
	href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500;600&family=Zen+Dots&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Zen+Dots&display=swap" rel="stylesheet">
<style>
	html, body{
		background-color:#6B2C91;
	}

</style>
<title>Wolfram Beeta</title>

	<script type="text/javascript">
		function updateScreen() {
			for (var i = 1; i <= 6; i++) {
				document.getElementById("variable" + i).style.display = "none";
				document.getElementById("variable" + i + "_l").style.display = "none";
				document.getElementById("equation" + (i-1).toString()).innerHTML = ""

			}
			for (var i = 1; i <= document.getElementById("variables").value; i++) {
				document.getElementById("variable" + i).style.display = "inline";
				document.getElementById("variable" + i + "_l").style.display = "inline";
			}
			document.getElementById("constants").style.display = "inline";
			document.getElementById("constants_l").style.display = "inline";
			document.getElementById("form_values").style.display = "inline";
			document.getElementById("readinput").style.display = "inline";
			return false
		}

		function readInput() {
			var variablesList = []
			for (var i = 1; i <= document.getElementById("variables").value; i++) {
				var coefficients = document.getElementById("variable" + i).value
				variablesList.push(coefficients.split(","))
			}
			var constantsList = document.getElementById("constants").value.split(",")
			var variableNames = ["x", "y", "z", "a", "b", "c"]
			for (var i = 0; i < document.getElementById("variables").value; i++) {
				var equation = ""
				for (var j = 0; j < document.getElementById("variables").value; j++) {
					if (variablesList[i][j] != 0) {
						if (variablesList[i][j] == 1) {
							equation += variableNames[j] + " + "
						}
						else {
							equation += variablesList[i][j] + variableNames[j] + " + "
						}
					}
				}
				equation = equation.slice(0, -2)
				equation += "= " + constantsList[i]
				document.getElementById("equation" + i).innerHTML =   "<br><br>" + equation
				document.getElementById("equation" + i).style.display = "inline";
			}
			document.getElementById("solve").style.display = "inline";
			var convertedVariables = ""
			for (var i = 0; i < document.getElementById("variables").value; i++) {
				convertedVariables += variablesList[i] + "&"
			}
			convertedVariables = convertedVariables.slice(0, -1)
			try{
	            createCookie("variables", convertedVariables)
				createCookie("constants", constantsList)
	        }
	        catch(err){
	        	alert(err.message)
	        }
			return false
		}
		function createCookie(name, value) {
			document.cookie = name + "=" + value;
		}

	</script>
</head>


<body>
	<section id="landing_page">
		<div class="header">
			<img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="website logo">
			<div class="brand_title">
				<a href="/" style="text-decoration: none;"><h2 id="brand_name">Wolfram <br> Beeta</h2></a>
			</div>
			<navbar>
				<ul class="navbar-menu -material">
                    <li class="item"><a class="link" href="{{ url_for('index') + '#docs'}}">Docs</a></li>
                    <li class="item"><a class="link" href="{{ url_for('index') + '#about'}}">About us</a></li>
                    <li class="item"><a class="link" href="{{ url_for('index') + '#contact'}}">Contact</a></li>
				</ul>
			</navbar>
			<!-- <div class="menu-toggle">
				<i class="bx bx-menu"></i>
				<i class="bx bx-x"></i>
			  </div> -->
			<!-- <div class="login">
				<button>Log in</button>
			</div> -->
		</div>
	<main style="text-align: center;">
		<form id="form_variables" onsubmit="return updateScreen()">
			<label for="variables">How many variables?&nbsp;&nbsp;

				<span>(1-6):</span></label>
			<div><br><br>
				<input type="text" placeholder="Enter the no. of variables" id="variables" name="variables">
				<input type="submit" id="submit" value="Submit">
			</div>
		</form>
		<form style="display: none; margin:2em;" id="form_values" onsubmit="return readInput()">
			<label style="display: none;color: white;" for="variable1" id="variable1_l">Enter equation 1 coefficients:</label>
			<input style="display: none;" type="text" id="variable1" name="variable1">
			<label style="display: none;color: white;" for="variable2" id="variable2_l"> <br><br> Enter equation 2 coefficients:</label>
			<input style="display: none;" type="text" id="variable2" name="variable2">
			<label style="display: none;color: white;" for="variable3" id="variable3_l"> <br><br> Enter equation 3 coefficients:</label>
			<input style="display: none;" type="text" id="variable3" name="variable3">
			<label style="display: none;color: white;" for="variable4" id="variable4_l"> <br><br> Enter equation 4 coefficients:</label>
			<input style="display: none;" type="text" id="variable4" name="variable4">
			<label style="display: none;color: white;" for="variable5" id="variable5_l"> <br><br> Enter equation 5 coefficients:</label>
			<input style="display: none;" type="text" id="variable5" name="variable5">
			<label style="display: none;color: white;" for="variable6" id="variable6_l"> <br><br> Enter equation 6 coefficients:</label>
			<input style="display: none;" type="text" id="variable6" name="variable6">
			<label style="display: none;color: white;" for="constants" id="constants_l"> <br><br> Enter constants:</label>
			<input style="display: none;" type="text" id="constants" name="constants">
			<input style="display: none;" type="submit" id="readinput" value="Submit">
		</form>
		<form id="form">
			<p style="display: none;color: white;" id=equation0> </p>
			<p style="display: none;color: white;" id=equation1> </p>
			<p style="display: none;color: white;" id=equation2> </p>
			<p style="display: none;color: white;" id=equation3> </p>
			<p style="display: none;color: white;" id=equation4> </p>
			<p style="display: none;color: white;" id=equation5> </p>
		</form>
		<form id=solve style="display: none;" action="linearSolve">
			<br><br>
			<!-- <input type="submit" value="Solve system of equations" /> -->
			<input type="submit" value="Solve system of equations" />
		</form>
		
	</main>
</body>

</html>