<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ResultsPage.css') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500;600&family=Zen+Dots&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Zen+Dots&display=swap" rel="stylesheet">
    <title>Results</title>

</head>


<body>
      <section id="results_page">
        <div class="header">
          <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="website logo">
          <div class="m6_name">
            <a href="/" style="text-decoration: none;"><h2 id="brand_name">Wolfram <br> Beeta</h2></a>
          </div>
          <navbar>
            <ul class="navbar-menu -material">
                <li class="item"><a class="link" href="{{ url_for('index') + '#home'}}">Home</a></li>
                <li class="item"><a class="link" href="{{ url_for('index') + '#about'}}">About us</a></li>
                <li class="item"><a class="link" href="{{ url_for('index') + '#contact'}}">Contact</a></li>
            </ul>

           
            </ul>
          </navbar>
          <!-- <div class="login">
            <button>Log in</button>
          </div>
        </div> -->
      </section>
      <section id="main">
        <div class="your_equation">
          <p>Your Linear System</p>
        </div>
        <div class="equation_box">
          <div class="content">
            <p style="color: black;" id=equation0> </p>
            <p style="color: black;" id=equation1> </p>
            <p style="color: black;" id=equation2> </p>
            <p style="color: black;" id=equation3> </p>
            <p style="color: black;" id=equation4> </p>
            <p style="color: black;" id=equation5> </p>
            <br>
            <br>
            <br>
           
          </div>
         
        </div>
        <div class="result">
          <p>Your Solutions</p>
        </div>
        <div class="results_box">
          <div class="contents">
            
            <p style="color: black;" id=solution0> </p>
            <p style="color: black;" id=solution1> </p>
            <p style="color: black;" id=solution2> </p>
            <p style="color: black;" id=solution3> </p>
            <p style="color: black;" id=solution4> </p>
            <p style="color: black;" id=solution5> </p>
            <br>
            <br>
            <br>          
           
          </div>
         
        </div>
      </section>
    <script type="text/javascript">
      function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }
      var constantsList = getCookie("constants").replace(/['"]+/g, '').split('@')
      var variablesList = getCookie("variables").replace(/['"]+/g, '').split('&')
      for (var i = 0; i < (variablesList.length); i++) {
        variablesList[i] = variablesList[i].split('@')
      }
       var variableNames = ["x", "y", "z", "a", "b", "c"]
       for (var i = 0; i < (variablesList.length); i++) {
        var equation = ""
        for (var j = 0; j < (variablesList.length); j++) {
          if (variablesList[i][j] != 0) {
            if (variablesList[i][j] == 1) {
              equation += variableNames[j] + " + "
            }
            else {
              equation += variablesList[i][j] + variableNames[j] + " + "
            }
          }
        }
        equation = equation.slice(0, -2)
        equation += "= " + constantsList[i]
        try{
          document.getElementById("equation" + i).innerHTML =   "<br><br>" + equation
          document.getElementById("equation" + i).style.display = "inline";   
              }
              catch(err){
                alert(err.message)
              }
    
        //  alert('hello')
       }

       var solutionsList = getCookie('solution').replace(/['"]+/g, '').split('@');
       for (var i = 0; i < (solutionsList.length); i++) {
        
        document.getElementById("solution" + i).innerHTML =   "<br><br>" + variableNames[i] + " = " + solutionsList[i]; 
        document.getElementById("solution" + i).style.display = "inline"; 
      }
      
     </script>
    

</body>
</html>
