<!DOCTYPE html>
<html lang="en">
<!-- Arrow by Aybige from <a href="https://thenounproject.com/browse/icons/term/arrow/" target="_blank" title="Arrow Icons">Noun Project</a> -->

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/solve.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myStyles.css') }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
	href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500;600&family=Zen+Dots&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Zen+Dots&display=swap" rel="stylesheet">
<style>
	html, body{
		background-color:#6B2C91;
	}

</style>
<title>Wolfram Beeta</title>

	<script type="text/javascript">
		function updateScreen() {
			try{
				for (var i = 1; i <= 2; i++) {
					document.getElementById("initialConditions" + i).style.display = "none";
					document.getElementById("initialConditions" + i + "_l").style.display = "none";
				}
				for (var i = 1; i <= document.getElementById("initialConditions").value; i++) {
					document.getElementById("initialConditions" + i).style.display = "inline";
					document.getElementById("initialConditions" + i + "_l").style.display = "inline";
				}
				document.getElementById("coefficients").style.display = "inline";
				document.getElementById("coefficients_l").style.display = "inline";
				document.getElementById("form_values").style.display = "inline";
				document.getElementById("readinput").style.display = "inline";
			}
			catch(err){
	        	alert(err.message)
	        }
			return false
		}

		function readInput() {
			try{
				var initialConditions = "";
				for (var i = 1; i <= document.getElementById("initialConditions").value; i++) {
					initialConditions += document.getElementById("initialConditions" + i).value + "&"
				}
				initialConditions = initialConditions.slice(0,-1)
				var coefficientsList = document.getElementById("coefficients").value.split(",")
				document.getElementById("solve").style.display = "inline";
				var initialConditionsList = initialConditions.split("&");
				for (var i = 0; i < initialConditionsList.length;i++){
					initialConditionsList[i] = initialConditionsList[i].split(",");
				}
				for (var i = 0; i <= document.getElementById("initialConditions").value - 1; i++) {
					var equation = ""
					equation += "f";
					for (var j = 0; j < parseInt(initialConditionsList[i][0]) ; j++) {
						equation += "'"
					}
					equation += "(" + initialConditionsList[i][1] + ") = " + initialConditionsList[i][2]
					document.getElementById("equation" + i).innerHTML =   "<br><br>" + equation
					document.getElementById("equation" + i).style.display = "inline";
				}
				equation = "";
				if (coefficientsList[0] != 0) {
						if (coefficientsList[0] == 1) {
							equation += " dx<sup>2</sup>/d<sup>2</sup>y + "
						}
						else {
							equation += coefficientsList[0] + " d<sup>2</sup>x/dy<sup>2</sup> + "
						}
					}
				if (coefficientsList[1] != 0) {
						if (coefficientsList[1] == 1) {
							equation += " dx/dy + "
						}
						else {
							equation += coefficientsList[1] + " dx/dy + "
						}
					}
				if (coefficientsList[2] != 0) {
						if (coefficientsList[2] == 1) {
							equation += " x "
						}
						else {
							equation += coefficientsList[2] + " x "
						}
					}
				equation += " = 0"
				document.getElementById("equation" + document.getElementById("initialConditions").value).innerHTML =   "<br><br>" + equation
				document.getElementById("equation" + document.getElementById("initialConditions").value).style.display = "inline";
	            createCookie("coefficients", coefficientsList)
				createCookie("initialConditions", initialConditions)
	        }
	        catch(err){
	        	alert(err.message)
	        }
			return false
		}
		function createCookie(name, value) {
			document.cookie = name + "=" + value;
		}

	</script>
</head>


<body>
	<section id="landing_page">
		<div class="header">
			<img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="website logo">
			<div class="brand_title">
				<a href="/" style="text-decoration: none;"><h2 id="brand_name">Wolfram <br> Beeta</h2></a>
			</div>
			<navbar>
				<ul class="navbar-menu -material">
                    <li class="item"><a class="link" href="{{ url_for('index') + '#docs'}}">Docs</a></li>
                    <li class="item"><a class="link" href="{{ url_for('index') + '#about'}}">About us</a></li>
                    <li class="item"><a class="link" href="{{ url_for('index') + '#contact'}}">Contact</a></li>
				</ul>
			</navbar>
			<!-- <div class="menu-toggle">
				<i class="bx bx-menu"></i>
				<i class="bx bx-x"></i>
			  </div> -->
			<!-- <div class="login">
				<button>Log in</button>
			</div> -->
		</div>
	<main style="text-align: center;">
		<form id="form_variables" onsubmit="return updateScreen()">
			<label for="variables">What order?&nbsp;&nbsp;

				<span>(1-2):</span></label>
			<div><br><br>
				<input type="text" placeholder="Enter the order of the equation" id="initialConditions" name="initialConditions">
				<input type="submit" id="submit" value="Submit">
			</div>
		</form>
		<form style="display: none;" id="form_values" onsubmit="return readInput()">
			<label style="display: none;color: white;" for="coefficients" id="coefficients_l"> Enter coefficients:</label>
			<input style="display: none;" type="text" id="coefficients" name="coefficients">
			<label style="display: none;color: white;" for="initialConditions1" id="initialConditions1_l"><br><br>Enter 1st initial conditions:</label>
			<input style="display: none;" type="text" id="initialConditions1" name="initialConditions1">
			<label style="display: none;color: white;" for="initialConditions2" id="initialConditions2_l"> <br><br> Enter 2nd initial conditions</label>
			<input style="display: none;" type="text" id="initialConditions2" name="initialConditions2">
			<input style="display: none;" type="submit" id="readinput" value="Submit">
		</form>
		<p style="display: none;color: white;" id=equation0> </p>
		<p style="display: none;color: white;" id=equation1> </p>
		<p style="display: none;color: white;" id=equation2> </p>
		<form id=solve style="display: none;" action="ODESolve">
			<br><br>
			<input type="submit" value="Solve ordinary differential equation"/>
		</form>
	</main>
</body>

</html>