<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ResultsPage.css') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Zen+Dots&display=swap" rel="stylesheet">

    <title>Results</title>

</head>


<body>
    <section id="results_page">
        <div class="header">
          <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="website logo">
          <div class="m6_name">
            <a href="/" style="text-decoration: none;"><h2 id="brand_name">Wolfram <br> Beeta</h2></a>
          </div>
          <navbar>
            <ul class="navbar-menu -material">
                <li class="item"><a class="link" href="{{ url_for('index') + '#home'}}">Home</a></li>
                <li class="item"><a class="link" href="{{ url_for('index') + '#about'}}">About us</a></li>
                <li class="item"><a class="link" href="{{ url_for('index') + '#contact'}}">Contact</a></li>
            </ul>


            </ul>
          </navbar>
      </section>
      <section id="main">
        <div class="your_equation">
          <p>Your Ordinary Differential Equation</p>
        </div>
        <div class="equation_box">
          <div class="content">
            <p style="color: black;" id=equation0> </p>
            <p style="color: black;" id=equation1> </p>
            <p style="color: black;" id=equation2> </p>
            <p style="color: black;" id=equation3> </p>
            <p style="color: black;" id=equation4> </p>
            <p style="color: black;" id=equation5> </p>
            <br>
            <br>
            <br>
          </div>

        </div>
        <div class="result">
          <p>Your Solutions</p>
        </div>
        <div class="results_box">
          <div class="contents">

            <p style="color: black;" id=solution0> </p>
            <p style="color: black;" id=solution1> </p>
            <p style="color: black;" id=solution2> </p>
            <p style="color: black;" id=solution3> </p>
            <p style="color: black;" id=solution4> </p>
            <p style="color: black;" id=solution5> </p>
            <br>
            <br>
            <br>
          </div>

        </div>
      </section>
    <script type="text/javascript">
      function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";

      }
    //   alert("hh")
      try {
        // alert(getCookie)
        var initialConditions = getCookie("initialConditions").replace(/['"]+/g, '').split("&")
        // initialConditions = initialConditions.slice(0,-1)
        // alert(initialConditions)
        var coefficientsList = getCookie("coefficients").replace(/['"]+/g, '').split("@")
        var initialConditionsList = []
        for (var i = 0; i < (initialConditions.length); i++){
            initialConditionsList.push(initialConditions[i].split("@"))
            // alert(initialConditionsList)
        }
    //   alert("hhfd")
       for (var i = 0; i < initialConditions.length; i++) {
        var equation = ""
        equation += "f"
        for (var j = 0; j < parseInt(initialConditionsList[i][0]); j++) {
              equation += "'"
            }

            equation += "(" + initialConditionsList[i][1] + ") = " +initialConditionsList[i][2]
            document.getElementById("equation" + i).innerHTML =   "<br><br>" + equation
            document.getElementById("equation" + i).style.display = "inline";
          }
        // alert("hiii")
        equation = ""
        if (coefficientsList[0] != 0){
            if (coefficientsList[0] == [1]){
                equation += " d<sup>2</sup>x/dy<sup>2</sup> + "
						}
						else {
							equation += coefficientsList[0] + " dx<sup>2</sup>/d<sup>2</sup>y + "
						}
					}
				if (coefficientsList[1] != 0) {
						if (coefficientsList[1] == 1) {
							equation += " dx/dy + "
						}
						else {
							equation += coefficientsList[1] + " dx/dy + "
						}
					}
				if (coefficientsList[2] != 0) {
						if (coefficientsList[2] == 1) {
							equation += " x "
						}
						else {
							equation += coefficientsList[2] + " x "
						}
				}
                // alert(coefficientsList)
				equation += " = 0"
				document.getElementById("equation" + initialConditionsList.length).innerHTML =   "<br><br>" + equation
				document.getElementById("equation" + initialConditionsList.length).style.display = "inline";




    //    var solutionsList = getCookie('solution').replace(/['"]+/g, '').split('@');
    //    for (var i = 0; i < (solutionsList.length); i++) {
        document.getElementById("solution" + i).innerHTML = ""
        solution = getCookie("solution").replace(/['"]+/g, '').split(" ")
        for (var j = 0; j < solution.length;j++){
          document.getElementById("solution" + i).innerHTML +=   "<br><br>" + solution[j]
        }
        // document.getElementById("solution" + i).innerHTML =   "<br><br>" + getCookie("solution").replace(/['"]+/g, '')
        document.getElementById("solution" + i).style.display = "inline";
    //   }
      }
      catch (err){
        alert(err.message)
      }

     </script>


</body>
</html>
